* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', arial;
    background-color: rgb(101, 128, 151);
}

body {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* header */
.header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    margin-top: 20vh;
}

/* game options */
.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.options img {
    width: 200px;
    height: 200px;
    transition: all 0.3s ease-in-out;
}

.options img:hover {
    width: 250px;
    height: 250px;
}

/* display */
.display {
    display: flex;
    justify-content: center;
    gap: 28px;
    text-align: center;
}

/* text */
h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.header p, .display p {
    font-size: 24px;
    color: #E5E7EB;
}

h4 {
    font-size: 26px;
    color: #F9FAF8;
}