* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* game options */
.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.options img {
    width: 200px;
    height: 200px;
}